{% extends 'base.html' %}

{% block title %}
Django Blog | Showing all blogs
{% endblock title %}

{% block body %}
<div class="container max-wid" style="min-height: 85vh;">
    <h1 class="text-center my-2">Showing all blogs</h1>
    {% for blog in blogs %}
    <div class="mb-4">
        <h3 class="fw-bold display-6">
            <a class="blog-main-link" href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h3>
        <div class="my-2 preview">{{blog.content|safe|truncatechars:250}}</div>
        <span class="text-muted">Date added: {{blog.date_added}} &#x2022; Last modified: {{blog.last_modified}}</span>
        <hr>
    </div>
    {% endfor %}
</div>

<script>
    window.addEventListener("load", () => {
        // The following code fires when the browser window has loaded
        const previews = document.getElementsByClassName('preview');
        Array.from(previews).forEach((element) => {
            element.innerHTML = element.innerText;
        })
    })
</script>

{% endblock body %}