{% extends 'base.html' %}

{% block title %}
    Django Blog | Home
{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="text-center">Welcome to by blog</h1>
    <h3 class="text-center">I am a web developer and a writer</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quis error aspernatur placeat tenetur laborum quasi perspiciatis ex iusto odio veritatis, voluptatum amet quo libero quisquam quam provident, consequatur debitis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid magnam eligendi ratione magni architecto aperiam cupiditate impedit rerum velit temporibus error dolorum sequi obcaecati ab sed officiis hic omnis inventore assumenda, dolorem, iste eos tempora iure repudiandae! Dolor quisquam deleniti quia voluptas, blanditiis iusto laudantium fugit consectetur aliquid laborum doloremque.</p>
    
</div>
{% endblock body %}